HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# Общие файлы
*.class
*.log
*.war
*.jar
*.iml
.DS_Store

# Системные файлы
.idea/
*.swp
*.bak
*.tmp

# Maven и Gradle
.mvn/
target/
build/

# IntelliJ IDEA
*.iml
.idea/

# Logs
logs/
*.log

# Spring Boot конфиденциальные файлы
application.properties
application.yml
